<p>
  table-page works!
</p>
<app-table
  [openModalEventId]="openModalEventId"
></app-table>

<app-modal class="app-modal"
  *ngIf="isModalOpen"
  >
  <ng-container
    *ngTemplateOutlet="editForm"
    ></ng-container>
    <!-- context: {closeFormEventId: closeModalEventId}" -->
</app-modal>

<!-- let-closeFormEventId="closeFormEventId" -->
<ng-template #editForm
  >
  <!-- [closeFormEventId]="closeFormEventId" -->
  <app-form
    [closeFormEventId]="closeModalEventId"
  ></app-form>
</ng-template>